html
{
background: white;
}
.bodyClass
{
    font-family: stencil;
    background-color: #CCC;
    max-width:700px;
    width:100%;
    margin: 0 auto;
    margin-top: 20px;
    border-radius: 40px;
    padding:30px;
}

button{
    border-radius: 40px;
    margin: 0 auto;
}